{% render 'partials/head.liquid', title: 'Qatar Museums' %}

{% render 'partials/header.liquid' %}

<form method="post" action="/acquisition">
    <input type="text" name="name" required />
    <input type="text" name="email" required />
    <input type="text" name="description" required />

    <button type="submit">Submit</button>
</form>

