<form method="post" action="/acquisition">

    <label>
        <input type="text" name="texts" required> {% comment %} Alleen formuliervelden met een name attribuut worden in een POST request meegestuurd door de browser. {% endcomment %}
    </label>

    <button type="submit">Submit</button>

</form>

