{% render 'partials/head.liquid', title: 'Qatar Museums' %}

{% render 'partials/header.liquid' %}

<main class="main-detail">

<!-- Image die uit de database wordt gehaald + alternatief als er geen image beschikbaar is--> 

<section class="artwork">
    <article class="back-home">
        <img src="/assets/backbutton.svg">
        <a href="/">Back</a>
    </article>

    {% if artwork.image %}
        <img class="artwork-object" src="https://fdnd-agency.directus.app/assets/{{ artwork.image }}" alt="images of artwork in qatar " width="300px">        

    {% else %}
        <p>No image availible</p>
    {% endif %}

    <article class="copyright">
        <p>© The Museum of Islamic Art, Doha</p>
    </article>
</section>

<!-- informatie over de artwork: titel + beschrijving --> 

<section class="info-artwork">
    <h1>{{ artwork.title }}</h1>
    <p>Museum of Islamic Art</p>
    <p class="artwork-summary"> {{ artwork.summary }}</p>
</section>

<!-- Suggesties --> 

<section class="see-also">
    <h2>You may also like</h2>
    <ul class="suggestions">
        <li>
            <img src="/assets/image1.png">
            <p>Temsa7</p>
            <h3>Family Reunion</h3>
        </li>

        <li>
            <img src="/assets/image2.png">
            <p>Iran, 1700 – 1800 CE</p>
            <h3>Wood and Lacquer Bow</h3>
        </li>

        <li>
            <img src="/assets/image3.png">
            <p>Olafur Eliasson</p>
            <h3>Shadows Traveling on the Sea of the Day</h3>
        </li>

        <li>
            <img src="/assets/image4.png">
            <p>Unkown</p>
            <h3>Bukhnaq (Head Cover)</h3>
        </li>
    </ul>
</section>
</main>

